{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    <div class="row">
        <h3>Criar Novo Usuário</h3>
        <form class="row g-3" method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}